table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    color: black;
    font-size: 0.9rem;
    /* border-radius: 10px;
    overflow: hidden; */
}

td,
th {
    border: 1.5px solid rgb(190, 190, 190);
    text-align: center;
    padding: 0.8rem;
}

/* DF7B2A */
thead {
    background-color: #004B32;
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

td.col-one {
    font-weight: bold;
}

@media all and (min-width: 500px) {
    table {
        width: 70%;
    }
}

@media all and (min-width: 700px) {
    table {
        width: 50%;
    }
}


@media all and (min-width: 1000px) {
    table {
        width: 50%;
    }
}