:root {
  --green: #004b32;
  --orange: #df7b2a;
}

#root {
  width: 100vw;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.FullSite {
  background-color: #004b32;
  width: 100wh;
  height: 100%;
}

/* ///////// LOGIN STYLE ////////////// */
.login-container {
  max-width: 700px;
  margin: 0 auto;
}

.form-login-container {
  max-width: 700px;
  margin: 0 auto;
}

.form-login-container p {
  color: #bf1650;
  font-size: 14px;
}

.form-login-container p::before {
  display: inline;
  content: "⚠ ";
}

.form-login-container input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 12px;
  height: 45px;
}

.form-login-container label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-top: 13px;
  color: black;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 0;
}

.form-login-container .form-login-submit {
  background-color: var(--green);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
  padding: 7px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 6px;
  cursor: pointer;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

.form-login-submit:hover {
  background: var(--green);
}

.form-login-submit:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.form-login-submit {
  -webkit-appearance: none;
}

.form-login-container input:disabled {
  opacity: 0.4;
}

/* ///////// CREATE ACOUNT STYLE ////////////// */
.acount-container {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  color: black;
  padding-top: 20px;
  height: 600px;
  margin-top: 10px;
}

.form-acount-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}

.form-acount-container p {
  color: #bf1650;
}

.form-acount-container p::before {
  display: inline;
  content: "⚠ ";
}

.form-acount-container input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  height: 45px;
}

.form-acount-container label {
  line-height: 2;
  text-align: left;
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

.form-acount-container .form-acount-submit {
  background: var(--green);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
  padding: 8px;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 6px;
  border-radius: 5px;
  display: block;
  opacity: 1;
  border-color: var(--green);
  margin-bottom: 57px;
}

.form-acount-submit:hover {
  background: var(--green);
  opacity: 0.9;
}

.form-acount-submit {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

svg {
  width: 25px;
  margin-top: -10px;
}

/* The container */
.form-acount-container .label-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px;
  font-weight: 200;
}

.label-checkbox input {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 15px;
  width: 13px;
  left: 11px;
  top: 3px;
}

.alreadyacount {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  border: none;
  background-color: white;
  display: block;
  margin: 0 auto;
  margin-top: 110px;
}

/* Thank you page - create acount */
.thank-acount {
  height: 250px;
  margin-top: 73px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 10px 27px 20px;
}

.acount-container #mark {
  margin-bottom: 30px;
}

.acount-container .welcome {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0px;
  color: var(--orange);
}

.acount-container .acount-message {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
}




/* ///////// SUBSCRIBE STYLE ////////////// */
.subscribe-container {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  background-color: white;
  color: black;
  padding-left: 1em;
  padding-top: 35px;
}

.subscribe-close {
  position: absolute;
  right: 0;
  margin-top: -40px;
}

.subscribe-container h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #df7b2a;
  margin-top: 20px;
}

.subscribe-container h5 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
}

.subscribe-container h6 {
  line-height: 16px;
  min-width: 14px;
  min-height: 14px;
  padding: 0 0 0 33px;
  cursor: pointer;
  color: #4f4f4f;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
}

.form-subscribe-container p {
  color: #bf1650;
}

.form-subscribe-container p::before {
  display: inline;
  content: "⚠ ";
}

.form-subscribe-container input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  height: 40px;
}

.form-subscribe-container .form-subscribe-submit {
  background: black;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 6px;
  border-radius: 5px;
  display: block;
  margin-right: 25px;
  opacity: 1;
  width: 100%;
}

.form-subscribe-submit:hover {
  background: black;
}

input:disabled {
  opacity: 0.4;
}

/* The container */
.subscribe-label-checkbox {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 12px;
  cursor: pointer;
  color: #4f4f4f;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
  pointer-events: visible;
}


/* Thank you page - subscribe*/
.thank-modal {
  width: 100%;
}

#mark {
  width: 85px;
  display: block;
  margin: auto;
}

.thank-modal .welcome {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0px;
}

.thank-modal .acount-message {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
}



.subscribe-container .form-subscribe-container .subscribeCheckbox {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 15px;
  width: 16px;
  display: flex;
  bottom: 70%;
}

@media only screen and (min-width: 330px) {
  .subscribe-container .form-subscribe-container .subscribeCheckbox {
    bottom: 56%;
  }
}

@media only screen and (min-width: 418px) {
  .subscribe-container .form-subscribe-container .subscribeCheckbox {
    bottom: 28%;
  }
}

@media only screen and (min-width: 600px) {

  .thank-modal,
  .subscribe-container {
    max-width: 590px;
    height: 300px;
  }

  .subscribe-container h1 {
    font-size: 33px;
  }

  .subscribe-container h5 {
    font-size: 18px;
  }

  .form-subscribe-container {
    display: grid;
    grid-template-areas:
      "input-area submit-area"
      "error-area error-area"
      "check-area check-area";
  }

  .form-subscribe-container .email-input {
    grid-area: input-area;
  }

  .form-subscribe-container .form-subscribe-submit {
    grid-area: submit-area;
    margin-top: 0px;
  }

  .form-subscribe-container .error-msg-email {
    grid-area: error-area;
  }

  .subscribe-container .form-subscribe-container .subscribeCheckbox {
    grid-area: check-area;
  }

  /* .form-subscribe-container input {
    width: 60%;
    display: inline;
  }

  .form-subscribe-container .form-subscribe-submit {
    width: 35%;
    display: inline;
    margin-right: 0;
  } */
}

/* ///////// PAYMENT STYLE ////////////// */
.payment-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 1em;
}

.payment-title {
  font-size: 28px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  margin-left: 1em;
}

.payment-products-title {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 40px;
  margin-top: 15px;
}

.payment-products {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 15px;
}

.payment-bonus-title {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 15px;
  margin-bottom: 15px;
}

.payment-free {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 15px;
  margin-bottom: 15px;
}

.payment-subtotal-title {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: 15px;
  margin-bottom: 15px;
}

.payment-subtotal {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: 15px;
  margin-bottom: 15px;
}

.payment-total {
  grid-column: 1/2;
  grid-row: 4/5;
  margin-top: 15px;
  margin-bottom: 15px;
}

.payment-total-container {
  grid-column: 2/3;
  grid-row: 4/5;
  height: 40px;
  margin-top: 15px;
}


.payment-price {
  display: inline;
  /* margin-left: 70%;  */
}

.payment-method {
  grid-column: 2/3;
  grid-row: 5/6;
  height: 40px;
  margin-top: 15px;
}

.cards {
  grid-column: 2/3;
  grid-row: 6/7;
  margin-bottom: 30px;
}

.payment-grid form {
  grid-column: 1/3;
  grid-row: 7/8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -18px;
}

form .pay-label {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 17px;
}

.pay-div {
  grid-column: 2/3;
  grid-row: 1/2;
}

.payment-input {
  border-radius: 0.2em;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 16px 15px;
  height: 60px;
  background-color: transparent;
  margin-bottom: 20px;
}

.lVApJ .dUEXvh {
  border-radius: 0.2em;
  width: 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 15px;
  height: 1px;
  box-shadow: inset 0px 1px 0px transparent;
  background-color: transparent;
}

.form-payment-submit {
  background-color: var(--green);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 50px;

  font-size: 10px;
  font-weight: 100;
  letter-spacing: 6px;
  border-radius: 5px;
  display: block;

  margin-right: 25px;

  opacity: 1;
  width: 35%;
}



/* ///////////////////////////////////// ROWS ///////////////////////////////////*/
#slider-container {
  display: block;
  margin: 0 auto;
  height: 330px;
}

.slider-form {
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.slider-form label {
  font-size: 30px;
}

.slider-form p {
  font-size: 10px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 7px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  cursor: pointer;
  display: inline;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
}

.buy-btn {
  background-color: var(--orange);
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  margin-top: 30px;
  padding: 7px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  cursor: pointer;
  display: inline;
  padding-top: 23px;
  padding-bottom: 21px;
  padding-left: 15px;
  padding-right: 15px;

}

.slider {
  -webkit-appearance: none;
  width: 100%;
  background: var(--orange);
  outline: none;
  height: 15px;
  border-radius: 5px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}




@media all and (min-width:700px) {
  .slider-form p {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .buy-btn {
    padding-top: 32px;
    padding-bottom: 30px;
  }

}

/*///////////////////////////////// FOUR OPTIONS ////////////////////////////////*/
.FOh2 {
  margin-top: 1em;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
}

#fourThings {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  padding: 5em;
}

.FOp {
  margin-top: 1em;
  color: white;
  font-family: Helvetica, sans-serif;
}

.FOimg {
  width: 40%;
}

.oneItem {
  padding: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
}

.FObutton {
  padding: 1em;
  margin-top: 2em;
  font-family: Helvetica, sans-serif;
  background-color: var(--orange);
  color: var(--green);
  border-style: none;
  border-radius: 1em;
  font-size: 1em;
  font-weight: bold;
}

/*********************************GAME INTRO****************************/
.game-intro {
  background-color: white;
  padding: 2.5rem;
}

.game-intro img {
  width: 130px;
  display: block;
  margin: auto;
  margin-bottom: 2vh;
}


.game-intro .advantages div {
  margin-bottom: 2vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.game-intro .advantages div img {
  width: 35px;
}

.game-warning {
  font-size: 0.8rem;
  padding-left: 2em;
}

.guide,
.guide ul {
  color: black;
  width: 80vw;
  margin: auto;
  margin-bottom: 7vh;
}

.guide li {
  margin-top: 2vh;
}

.purchase-section {
  background-color: white;
  color: black;
  /* padding: 2rem; */
  width: 100%;
}

@media all and (min-width:600px) {

  .game-intro .advantages div img {
    width: 40px;
  }

  .game-warning {
    text-align: center;
  }
}


@media all and (min-width:900px) {

  .game-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .guide,
  .guide ul {
    width: inherit;
  }

}


@media all and (min-width:1200px) {}





/* ////////// COOKIE ///////// */

.cookie-p {
  display: inline;
  margin-right: 20px;
}

.cookie-btn {
  background: rgb(255, 212, 45);
  border: none;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  padding: 7px 30px;
  display: inline;
}