* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

.FullSite {
    background-color: #004B32;
}


/* ///////// LOGIN STYLE ////////////// */
.login-container {
    max-width: 600px;
    margin: 0 auto;
}

.form-login-container {
    max-width: 500px;
    margin: 0 auto;
}

.form-login-container p {
    color: #bf1650;
    font-size: 14px;
}

.form-login-container p::before {
    display: inline;
    content: "⚠ ";
}


.form-login-container input {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 12px;

}

.form-login-container label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-top: 13px;
    color: black;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
}


.form-login-container .form-login-submit {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
    padding: 7px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 6px;
    cursor: pointer;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}


.form-login-submit:hover {
    background: #4CAF50;
}


.form-login-submit:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

.form-login-submit {
    -webkit-appearance: none;
}

.form-login-container input:disabled {
    opacity: 0.4;
}

.form-login-container h6 {
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    margin-top: -5px;
}


.form-login-container h6:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* ///////// CREATE ACOUNT STYLE ////////////// */
.acount-container {
    max-width: 600px;
    margin: 0 auto;

}

.form-acount-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #0e101c;
    color: white;
    padding: 1em;

}

.form-acount-container p {
    color: #bf1650;
}

.form-acount-container p::before {
    display: inline;
    content: "⚠ ";
}


.form-acount-submit input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: red;
}

.form-acount-submit label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.form-acount-submit {
    background: green;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
    padding: 8px;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 6px;
    border-radius: 5px;
    display: block;
}

.form-acount-submit:hover {
    background: green;
}

.form-acount-submit {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

input:disabled {
    opacity: 0.4;
}


.form-acount-submit {
    -webkit-appearance: none;
}

.acount-container label {
    display: block;
}

.acount-container input {
    display: block;
}


svg {
    width: 25px;
    margin-top: -10px;
}


.phone {
    width: 220px;
}


/* The container */
.label-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 15px;

}

.label-checkbox input {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    height: 15px;
    width: 13px;
    left: 11px;
    top: 3px;
}

/* ///////// SUBSCRIBE STYLE ////////////// */
.subscribe-container {
    max-width: 580px;
    margin: 0 auto;
    background-color: white;
    color: black;
    padding: 1em;
    height: 300px;
    padding-top: 35px;
}

.subscribe-container h1 {
    text-transform: uppercase;
    font-size: 33px;
    color: #DF7B2A;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subscribe-container h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;

}


.subscribe-container h6 {
    line-height: 16px;
    min-width: 14px;
    min-height: 14px;
    padding: 0 0 0 33px;
    cursor: pointer;
    color: #4f4f4f;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
}



.form-subscribe-container {
    max-width: 500px;
    /* margin: 0 auto;
    padding: 1em; */
    margin-top: 15px;

}

.form-subscribe-container p {
    color: #bf1650;
}

.form-subscribe-container p::before {
    display: inline;
    content: "⚠ ";
}


.form-subscribe-submit input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: red;
}

.form-subscribe-submit label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.form-subscribe-submit {
    background: black;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
    padding: 8px;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 6px;
    border-radius: 5px;
    display: block;

    float: right;
    margin-top: -33px;
    margin-right: 222px;
    opacity: 1;
}

.form-subscribe-submit:hover {
    background: black;
}

.form-subscribe-submit {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

input:disabled {
    opacity: 0.4;
}


.form-subscribe-submit {
    -webkit-appearance: none;
}

.subscribe-container label {
    display: block;
}

.subscribe-container input {
    display: block;
}



/* The container */
.subscribe-label-checkbox {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 15px;

    cursor: pointer;
    color: #4f4f4f;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;

}

.subscribe-label-checkbox input {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    height: 15px;
    width: 13px;
    left: 2px;
    top: 3px;
}