.banner {
  height: 100vh;
  width: 100vw;
  background-image: url("./Banner.jpg");
  background-size: cover;
  padding-top: 27vh;
  color: white;
}

.banner-text {
  width: fit-content;
  margin: auto;
}

.banner-text h1 {
  color: var(--orange);
  font-size: 10rem;
}

.banner-text .countdown {
  text-align: right;
}
