.banner {
  height: 100vh;
  width: 100vw;
  background-image: url("./Banner.jpg");
  background-size: cover;
  padding-top: 27vh;
  color: white;

  /* margin-top: -50px; */
}

.banner-text {
  width: fit-content;
  margin: auto;
  font-size: 0.9rem;
}

.banner-text .price {
  color: var(--orange);
  font-size: 3rem;
}

.banner-text .countdown {
  text-align: right;
}


#countDown section div,
#countDown section div * {
  display: inline-block;
  margin-right: 5px;
}

#countDown section div h1 {
  font-size: 1rem;
}

/*  //////////  SCROLL  //////////// */

.scroll-down {
  opacity: 1;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}


@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


/*  //////////  SCROLL  end//////////// */


@media all and (min-width: 500px) {
  .banner-text {
    font-size: 1.1rem;
  }

  .banner-text .price {
    font-size: 5rem;
  }
}

@media all and (min-width: 700px) {
  .banner-text {
    font-size: 1.1rem;
  }

  .banner-text .price {
    font-size: 7rem;
  }

  .banner-text .countdown * {
    display: inline-block;
    margin-right: 5px;
  }
}

@media all and (min-width: 1000px) {

  .banner-text .price {
    font-size: 10rem;
  }

  #countDown section div h1 {
    font-size: 1.5rem;
  }
}