.banner {
  height: 100vh;
  width: 100vw;
  background-image: url("./Banner.jpg");
  background-size: cover;
  padding-top: 27vh;
  color: white;

  margin-top: -50px;
}

.banner-text {
  width: fit-content;
  margin: auto;
  font-size: 0.9rem;
}

.banner-text .price {
  color: var(--orange);
  font-size: 3rem;
}

.banner-text .countdown {
  text-align: right;
}


#countDown section div,
#countDown section div * {
  display: inline-block;
  margin-right: 5px;
}

#countDown section div h1 {
  font-size: 1rem;
}

@media all and (min-width: 500px) {
  .banner-text {
    font-size: 1.1rem;
  }

  .banner-text .price {
    font-size: 5rem;
  }
}

@media all and (min-width: 700px) {
  .banner-text {
    font-size: 1.1rem;
  }

  .banner-text .price {
    font-size: 7rem;
  }

  .banner-text .countdown * {
    display: inline-block;
    margin-right: 5px;
  }
}

@media all and (min-width: 1000px) {

  .banner-text .price {
    font-size: 10rem;
  }

  #countDown section div h1 {
    font-size: 1.5rem;
  }
}