/* ////////// FOOTER /////////// */
footer {
    background-color: #004B32;
    margin-top: 50px;
    text-align: center;
    color: white;
}

footer h3 {
    color: #DF7B2A;
    font-size: 20px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer li a:hover {
    color: #DF7B2A;
    text-decoration: underline;
    transition: all .5s;
}


@media screen and (min-width: 450px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer h3 {
        font-size: 18px;
    }

    #col1 {
        grid-column: 1/2;
        display: inline-block;
        width: 50%;

    }

    #col2 {
        grid-column: 2/3;
        display: inline-block;
        width: 50%;
    }

    footer li a {
        font-size: 14px;
    }
}