/* ////////// FOOTER /////////// */
footer {
    background-color: #004B32;
    text-align: center;
    color: white;
    padding-top: 1em;
}

#logofooter {
    width: 120px;
}

#col1,
#col2 {
    padding-bottom: 1em;
    margin-top: 40px;
    margin-bottom: 40px;

}

footer p {
    margin-bottom: 5px;
}

.footer-icons {
    background-color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.footer-icons *:not(:first-child) {
    margin-left: 50px;
}

.footer-icons img {
    width: 50px;
}

.footer-icons #gambling-pic {
    width: 70px;
}


@media screen and (min-width: 450px) {
    #footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    #col1 {
        grid-column: 1/2;
        display: inline-block;
    }

    #col2 {
        grid-column: 2/3;
        display: inline-block;
        padding-top: 37px;
    }

}

@media all and (min-width:900px) {
    .footer-icons img {
        width: 60px;
    }

    .footer-icons #gambling-pic {
        width: 70px;
    }

}