@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');

:root {
    --green: #004B32;
    --orange: #DF7B2A;
}

.oneEmoji {
    width: 16%;
}

#machineWrap {
    margin-bottom: 30px;
}


.oneEmojiAnim {
    animation: 1s linear 1s rotateA;
}

@keyframes rotateA {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.oneEmoji+.oneEmoji {
    margin-left: 2.1em;
}

#mainRow {
    position: relative;
}

#machineImg {
    position: relative;
    pointer-events: none;
    width: 90%;
    display: block;
    margin: auto;
}

#dice {
    position: absolute;
    text-align: center;
    width: 110%;
    top: 20%;
    margin-left: -5%;
}

#dice *:not(:first-child) {
    margin-left: 8%;
}


#spinBTN {
    position: absolute;
    z-index: 0;
    width: 65%;
    height: 31%;
    top: 62%;
    margin-left: 18%;
    font-family: 'Rye', cursive;
    color: var(--green);
    background-color: var(--orange);
    border: none;
    padding: 2rem;
    border-radius: 7%;
    cursor: pointer;
    font-size: 2rem;
}


#gameH1 {
    color: var(--orange);
    font-family: 'Rye', cursive;
    text-align: center;
    margin: 1em;
}

#gameDesc {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    margin: 2em;
    color: white;
}



@media all and (min-width: 550px) {
    #mainRow {
        max-width: 80vw;
        margin: auto;
    }

    #spinBTN {
        font-size: 2.5rem;
    }

}



@media all and (min-width: 700px) {
    #mainRow {
        max-width: 500px;
    }

}