@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');

:root {
    --green: #004B32;
    --orange: #DF7B2A;
}

#fullGame {
    text-align: center;
    /* max-width: 600px; */
    margin: 0 auto;

    max-width: 300px;
}


#machineWrap {
    max-width: 500px;
    margin: 0 auto;
    /* height: 350px; */

    height: 290px;
}

.oneEmoji {
    /* width: 12%; */
    width: 16%;
}

.oneEmoji:hover {
    animation: rotateA 3s infinite;
}

@keyframes rotateA {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.oneEmoji+.oneEmoji {
    margin-left: 2.1em;
}

#dice {
    position: absolute;
    /* top: 148%; */
    text-align: center;
    /* left: 51.3%; */
    position: absolute;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    top: 183%;
    left: 53%;
}

#machineImg {
    /* width: 61%; */
    position: relative;
    /* margin-top: 20px; */
    z-index: 1;
    pointer-events: none;

    width: 88%;
    margin-top: 0px;
}

#spinBTN {
    position: absolute;
    /* top: 174%; */
    left: 51%;
    font-family: 'Rye', cursive;
    /* font-size: 2.6em; */
    color: var(--green);
    background-color: var(--orange);
    border: none;
    padding: .6em 1.5em;
    border-radius: 7%;
    cursor: pointer;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);


    top: 205%;
    font-size: 2.3em;
}

#whiteBox {
    position: absolute;
    /* top: 147%; */
    background-color: white;
    /* width: 280px; */
    /* height: 150px; */
    left: 50%;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: 236px;
    height: 122px;
    top: 184%;
}

#gameH1 {
    color: var(--orange);
    font-family: 'Rye', cursive;
    text-align: center;
    margin: 1em;
}

#gameDesc {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    margin: 1em;
    color: white;

}




@media only screen and (min-width: 312px) {
    #machineImg {
        width: 88%;
        margin-top: 0px;
    }

    #spinBTN {
        top: 202%;
    }

    #whiteBox {
        top: 181%;
    }

    #dice {
        top: 180%;
    }
}

@media only screen and (min-width: 321px) {

    #spinBTN {
        top: 193%;
    }

    #whiteBox {
        top: 171%;
    }

    #dice {
        top: 171%;
    }
}

@media only screen and (min-width: 601px) {

    .oneEmoji+.oneEmoji {
        margin-left: 2.4em;
    }

    #machineImg {
        width: 88%;
        margin-top: 0px;
    }

    #spinBTN {
        top: 165%;
        font-size: 2.2em;
    }

    #whiteBox {
        top: 143%;
        width: 238px;
        height: 116px;
    }

    #dice {
        top: 143%;
        left: 51.3%;
    }

    .oneEmoji {
        width: 9%;
    }
}


@media only screen and (min-width: 800px) {
    #fullGame {
        max-width: 600px;
    }

    #machineWrap {
        height: 400px;
    }

    .oneEmoji {
        width: 16%;
    }

    .oneEmoji+.oneEmoji {
        margin-left: 2.63em;
    }

    #dice {
        top: 151%;
        left: 50.8%;
    }

    #machineImg {
        width: 80%;
        margin-top: 0px;
    }

    #spinBTN {
        top: 185%;
        font-size: 3.7em;
    }

    #whiteBox {
        width: 350px;
        height: 180px;
        top: 153%;
    }
}