@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');

:root {
    --green: #004B32;
    --orange: #DF7B2A;
}

#fullGame {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

}

#machineWrap {
    max-width: 500px;
    margin: 0 auto;
    height: 350px;
}

.oneEmoji {
    width: 12%;
}

.oneEmoji+.oneEmoji {
    margin-left: 2.2em;
}

#dice {
    position: absolute;
    top: 148%;
    text-align: center;
    left: 50%;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);


}

#machineImg {
    width: 61%;
    position: relative;
    margin-top: 20px;
    z-index: 1;
    pointer-events: none;
}

#spinBTN {
    position: absolute;
    top: 174%;
    left: 50%;
    font-family: 'Rye', cursive;
    font-size: 2.6em;
    color: var(--green);
    background-color: var(--orange);
    border: none;
    padding: .6em 1.5em;
    border-radius: 7%;
    cursor: pointer;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#whiteBox {
    position: absolute;
    top: 147%;
    background-color: white;
    width: 294px;
    height: 150px;
    left: 50%;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#gameH1 {
    color: var(--orange);
    font-family: 'Rye', cursive;
    text-align: center;
    margin: 1em;
}

#gameDesc {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    margin: 1em;
    color: white;

}