@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');
:root {
    --green: #004B32;
    --orange: #DF7B2A;
}

#fullGame{
    text-align: center;
    
}
.oneEmoji{
    width: 15%;
    margin-left: 3.5em;
    margin-bottom:1em;
    margin-top:1em;
    
    
}

#lastemoji{
    margin-left: 3em;
}
#dice{
    position: absolute;
    top: 137%;
    text-align: center;
    left: 30%;


}
#machineImg{
    margin: 2em;
    width: 30%;
    position: relative;
    pointer-events: none;
}
#spinBTN{
    position: absolute;
    top: 163%;
    left: 39%;
    font-family: 'Rye', cursive;
    font-size: 4em;
    color: var(--green);
    background-color: var(--orange);
    border:none;
    padding: .6em 1.5em;
    border-radius: 7%;
    cursor: pointer;
}

#whiteBox{
    position: absolute;
    top: 133%;
    margin: 0 35em 0 35em;
    text-align: center;
    padding: 7em 13em;
    background-color:  white;
}

#gameH1{
    color: var(--orange);
    font-family: 'Rye', cursive;
    text-align: center;
    margin: 1em;
}

#gameDesc{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    margin: 1em;
    color: white;

}