/* ////////// HEADER /////////// */
header {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#logoImg {
    width: 150px;
    grid-column: 1/2;
    float: left;
    padding: 14px 16px;
}

nav {
    grid-column: 2/3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    border-right: 1px solid #bbb;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #DF7B2A;
    text-decoration: underline;
    transition: all .5s;
}

nav li:last-child {
    float: right;
    border-right: none;
}