/* ////////// HEADER /////////// */
header {
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#logoImg {
    width: 150px;
    float: left;
    /* padding: 14px 16px; */


    padding: 0px 16px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    border-right: 1px solid #bbb;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #DF7B2A;
    text-decoration: underline;
    transition: all .5s;
}

nav li:last-child {
    float: right;
    border-right: none;
}

.login-title {
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
}

.login-forget {
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.login-new {
    font-weight: 700;
    letter-spacing: -.5px;
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-singup {
    width: 92%;
    display: block;
    background-color: #fff;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 4px;
    border: 2px solid black;
    align-items: center;
    transition: all .15s ease;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;

}

.login-singup:hover {
    background-color: #F6F3F3;
}


/* MOBILE NAVIGATION */
/* Position and sizing of burger button */
.bm-burger-button {
    /* position: fixed; */
    /* width: 36px;
    height: 30px;
    right: 28px;
    top: 10px; */
    position: relative;
    width: 34px;
    height: 21px;
    right: -84%;
    top: 26px;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #DF7B2A;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #773e09;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: black;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}


@media only screen and (min-width: 200px) and (max-width: 599px) {
    #desktop-nav {
        display: none;
    }

}

@media only screen and (min-width: 600px) {
    .menu-mobile {
        display: none;
    }

}