#winners-section {
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
}

.dropdwon-select {
    background-color: var(--orange);
    color: white;
    padding: 1rem;
    width: 80vw;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    margin-bottom: 3vh;
}

.winning-numbers {
    height: 10vh;
    padding-top: 3vh;
}

.winning-numbers .one-number {
    display: inline-block;
    margin-left: 2vw;
}

.winning-numbers .hexagon {
    width: 40px;
}

.winning-numbers p {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    padding: 9px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    color: black;
    font-size: 0.9rem;
    margin-top: 7vh;
    /* border-radius: 10px;
    overflow: hidden; */
}

td,
th {
    border: 1px solid rgb(235, 235, 235);
    text-align: center;
    padding: 1rem;
}

/* DF7B2A */
thead {
    background-color: #004B32;
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

td.col-one {
    font-weight: bold;
}

@media all and (min-width: 500px) {
    .dropdwon-select {
        width: 60vw;
        margin-bottom: 5vh;
    }

    table {
        width: 70%;
    }

}

@media all and (min-width: 700px) {
    .dropdwon-select {
        width: 50vw;
    }

    table {
        width: 50%;
    }

    .winning-numbers .hexagon {
        width: 50px;
    }

    .winning-numbers p {
        font-size: 1.3rem;
        padding: 14px;
    }

}


@media all and (min-width: 1000px) {
    table {
        width: 50%;
        margin-top: 3vh;
    }

    .winners-section {
        height: auto;
    }

    .dropdwon-select {
        width: 40vw;
    }

    .winning-numbers {
        height: 20vh;
        padding-top: 5vh;
    }

    .winning-numbers .hexagon {
        width: 55px;
    }

    .winning-numbers p {
        padding: 17px;
    }

}